$body-font: "Open Sans", Helvetica, Arial, sans-serif;
@import "colors.scss";

body {
    font-family: $body-font;
    background-color: #1f2430;
    color: #fafafa;
}

.flex-grow {
    flex-grow: 1;
}

.anchor-target {
    padding-top: 6rem;
    margin-top: -6rem;
}
