$body-font: "Poppins", Helvetica, Arial, sans-serif;
@import "colors.scss";
@import "markdown.scss";

body {
    font-family: $body-font;
    background-color: #1f2430;
    color: #fafafa;
}

.flex-grow {
    flex-grow: 1;
}

.anchor-target {
    padding-top: 6rem;
    margin-top: -6rem;
}

.dim-active {
    opacity: 1;
}

.dim-active:active {
    opacity: 0.7;
    transition: opacity 0.25s ease-out;
}

.lh-2 {
    line-height: 2;
}

.lh-3 {
    line-height: 2.5;
}

.f8 {
    font-size: 0.65rem;
}
