// colors, based off ayu theme

$light-orange: #ffcc66;
$blue: #73d0ff;
$light-blue: #5ccfe6;
$light-red: #f28779;
$shadow: #141925;

.light-orange {
    color: $light-orange;
}

.bg-light-orange {
    background-color: $light-orange;
}

.blue {
    color: $blue;
}

.bg-blue {
    background-color: $blue;
}

.light-blue {
    color: $light-blue;
}

.bg-light-blue {
    background-color: $light-blue;
}

.light-red {
    color: $light-red;
}

.shadow {
    color: $shadow;
}

.bg-shadow {
    background-color: $shadow;
}
