{{#*inline "page"}}

<section class="ph3 ph5-ns pt6 flex-grow">
    <h1 class="fw6">Help</h1>
    <p class="f5 measure-wide lh-copy">
        Support is offered on the sushii <a href="https://discord.gg/QCXjyrs" class="blue">Discord server</a>.
    </p>
</section>

{{/inline}}
{{~> (parent)~}}