{{#*inline "page"}}

<section class="ph3 ph5-ns pt6 flex-grow">
    <h1 class="fw6">Help</h1>
    <h2 class="fw6">Initial Set Up</h2>
    <p class="f5 measure-wide lh-copy">
        Initial set up is mostly setting log channels, and the mute role.
        An example set of commands that would be run to set up a server would be as follows.
    </p>
    <span class="code">
        settings modlog set #mod-log
        <br>
        settings msglog set #msg-log
        <br>
        settings memberlog set #member-log
        <br>
        settings msgchannel set #general
        <br>
        settings joinmsg set Welcome &lt;mention&gt; to &lt;server&gt;!
        <br>
        settings mute role mute
    </span>
    <h3 class="fw6 mt5">Still need help?</h3>
    <p class="f5 measure-wide lh-copy">
        Support is offered on the sushii <a href="https://discord.gg/QCXjyrs" class="blue">Discord server</a>.
    </p>
</section>

{{/inline}}
{{~> (parent)~}}