{{#*inline "page"}}

<section class="ph3 ph5-ns pt4 pv5 flex flex-wrap flex-grow items-center">
  <div class="w-100 w-50-l pa2 pl6-l">
    <h1 class="f1 fw6 ma0">sushii 2</h1>
    <h2 class="fw4 f4 mt1">Moderation bot for Discord.</h2>
    <a class="f6 link dim br3 ph3 pv2 mb2 mr2 dib black-80 bg-blue" href="/invite">Add Me</a>
    <a class="f6 link dim br3 ph3 pv2 mb2 mr2 dib ba b--white white" href="/commands">View Commands</a>
  </div>
  <div class="w-100 w-50-l pa2">
  </div>

</section>

{{/inline}}
{{~> (parent)~}}