<!doctype html>
<html>

<head>
  <title>sushii 2 - {{ title }}</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="Chat bot for Discord">

  <!-- styles -->
  <link rel="stylesheet" href="{{assets.css.vendor}}" />
  <link rel="stylesheet" href="{{assets.css.fonts}}" />
  <link rel="stylesheet" href="{{assets.css.app}}" />
</head>

<body class="min-vh-100 w-100">
  {{> components/nav}}
  <div class="min-vh-100 flex flex-column">
    {{~> page}}
    {{> components/footer}}
  </div>
</body>

</html>