<footer class="ph3 pv3 pv4-ns ph4-m ph5-l black-70 bt b--black-10">
  <p class="fl w-100 pv0 f6 fw6 ttu tracked mb1">sushii 2</p>
  <p class="f7 black-70">
    Source code licensed MIT
  </p>
</footer>